@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}

/* ::-webkit-scrollbar-track {
  background-color: gainsboro;
} */

::-webkit-scrollbar-thumb {
  background: linear-gradient(red, blue); 
  border-radius: 30px;
}
